.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-field-input, .form-field-feedback {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.team-socials-link, .footer-socials-link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover, .footer-socials-link:hover, .team-socials-link:focus, .footer-socials-link:focus {
  background-color: #2196f3;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.button {
  display: inline-block;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header-inner {
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 60px;
}

@media screen and (min-width: 768px) {
  .header-inner {
    justify-content: space-between;
    min-height: 80px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-logo {
    display: inline-flex;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    display: inline-flex;
    margin-right: 93px;
  }
}

.header-logo span {
  color: #212121;
}

.menu-button {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-menu {
  fill: #212121;
}

.menu-button:focus .icon-menu {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 5;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.menu-close-button {
  position: absolute;
  display: block;
  top: 10px;
  right: 15px;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.icon-cross {
  fill: #212121;
}

.menu-close-button:focus .icon-cross {
  fill: #2196f3;
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav-link {
  display: block;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-nav-link.link-current {
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mobile-nav-link {
    font-size: 40px;
  }
}

.mobile-contact-list {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact-tel {
  display: inline-flex;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mobile-contact-tel {
    font-size: 34px;
  }
}

.mobile-contact-mail {
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .mobile-contact-mail {
    font-size: 24px;
  }
}

.socials-menu {
  display: inline-flex;
}

@media screen and (min-width: 768px) {
  .socials-menu {
    display: none;
  }
}

.socials-menu-item:not(:last-child) {
  margin-right: 20px;
}

.socials-menu-item:not(:last-child):after {
  position: absolute;
  content: "";
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.socials-menu-link {
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .socials-menu-link {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation-list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list {
    display: flex;
  }
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.navigation-list-link.link-current {
  position: relative;
  color: #2196f3;
}

.navigation-list-link.link-current:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list-item:last-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact-list-link {
  display: inline-flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link:hover, .contact-list-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contact-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
    align-self: baseline;
    font-size: 14px;
    line-height: 1.143;
  }
}

.contact-list-icon-mail {
  width: 14px;
  height: 10px;
  margin-right: 8px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contact-list-icon-mail {
    display: none;
  }
}

.contact-list-link:hover .contact-list-icon-mail,
.contact-list-link:focus .contact-list-icon-mail {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contact-list-icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.contact-list-icon-tel {
  margin-right: 8px;
  width: 10px;
  height: 14px;
  margin-right: 8px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contact-list-icon-tel {
    display: none;
  }
}

.contact-list-link:hover .contact-list-icon-tel,
.contact-list-link:focus .contact-list-icon-tel {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contact-list-icon-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

.hero {
  max-width: 480px;
  height: 400px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-mobile.jpg");
  background-size: 480px 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 481px) {
  .hero {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-tablet.jpg");
    background-size: 768px 400px;
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-desktop.jpg");
    background-size: 1600px 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-desktop@2x.jpg");
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  padding-left: 32px;
  padding-right: 32px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features-icon-box {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #f5f4fa;
}

.features-icon {
  margin: 0 auto;
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .features-title {
    text-align: start;
  }
}

.feaures-text {
  margin-top: 0;
  margin-bottom: 0;
}

.product {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .product {
    display: none;
  }
}

.product-list {
  display: flex;
}

.product-item {
  position: relative;
}

.product-item:not(:last-child) {
  margin-right: 30px;
}

.product-description {
  display: block;
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .staff-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.staff-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .staff-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .staff-item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .staff-item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.staff-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .staff-card-content {
    padding-bottom: 30px;
  }
}

.staff-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: #212121;
}

.staff-position {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
}

.socials-list {
  display: flex;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.team-socials-link {
  background-color: #ffffff;
}

.team-socials-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover .team-socials-icon,
.team-socials-link:focus .team-socials-icon {
  fill: #ffffff;
}

.clients-list {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.clients-item {
  text-align: center;
  flex-basis: calc((100% - 60px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients-link {
  display: block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196f3;
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}

.link-logo-1 {
  padding: 20px 62px;
}

.link-logo-2 {
  padding: 19px 64px;
}

.link-logo-3 {
  padding: 24px 64px 24px 63px;
}

.link-logo-4 {
  padding: 24px 44px;
}

.link-logo-5 {
  padding: 22px 54px 21px 55px;
}

.link-logo-6 {
  padding: 22px 40px;
}

.footer {
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .footer-inner {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-inner {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .address-wrapper:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-wrapper {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .address-wrapper {
    margin-right: 70px;
  }
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo span {
  color: #ffffff;
}

.address-box {
  font-style: normal;
}

@media screen and (max-width: 1199px) {
  .address-item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  color: #ffffff;
}

.contact-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .socials-box {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .socials-box {
    text-align: center;
  }
}

.footer-socials-title {
  display: block;
  margin-bottom: 20px;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-socials-icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sign-up-box {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up-box {
    margin-left: auto;
  }
}

.footer-form-title {
  display: block;
  margin-bottom: 20px;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
}

.sign-up-field {
  position: relative;
}

@media screen and (min-width: 768px) {
  .sign-up-field {
    margin-right: 12px;
  }
}

.sign-up-input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sign-up-input {
    display: block;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up-input {
    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .sign-up-input {
    margin-bottom: 20px;
  }
}

.sign-up-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up-button {
  position: relative;
  padding-left: 29px;
  padding-right: 62px;
}

.sign-up-button-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: #ffffff;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .filter-list {
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-top: -15px;
    margin-left: -8px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter-item {
    margin-top: 15px;
    margin-left: 8px;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: inherit;
  color: #212121;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover, .filter-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-item {
    width: 100%;
    max-width: 450px;
  }
  .portfolio-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.portfolio-link {
  display: block;
}

.portfolio-link:focus, .portfolio-link:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card-thumb {
  position: relative;
}

.portfolio-card-thumb::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.portfolio-link:hover .portfolio-card-thumb::before,
.portfolio-link:focus .portfolio-card-thumb::before {
  opacity: 1;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-card-image {
    width: 354px;
  }
}

.portfolio-card-overlay-text {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  padding: 10px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  opacity: 0;
}

.portfolio-link:hover .portfolio-card-overlay-text,
.portfolio-link:focus .portfolio-card-overlay-text {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .portfolio-card-overlay-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 480px) {
  .portfolio-card-overlay-text {
    padding-top: 74px;
    padding-bottom: 74px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-card-overlay-text {
    padding-top: 49px;
    padding-bottom: 49px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card-overlay-text {
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.portfolio-card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .special-padding {
    padding-bottom: 36px;
  }
}

.portfolio-card-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-card-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: 100%;
  height: 90%;
  max-height: 609px;
  padding: 40px;
  overflow: scroll;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
    height: 100%;
  }
}

.modal-close-btn {
  position: absolute;
  display: block;
  top: 8px;
  right: 8px;
  margin: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
}

.modal-close-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #2196f3;
}

.form {
  text-align: center;
}

.form-title {
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .form-title {
    line-height: 1.15;
  }
}

.form-field-input {
  margin-bottom: 10px;
}

.form-label {
  display: inline-block;
  margin-right: auto;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.form-input-box {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0 0 0 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-box:focus-within .form-input {
  border: 1px solid #2196f3;
}

.form-input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-box:focus-within .form-input-icon {
  fill: #2196f3;
}

.form-field-feedback {
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus-within {
  border: 1px solid #2196f3;
}

.textarea::placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-field {
  margin-bottom: 30px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.167;
}

@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.714;
  }
}

.checkbox-label:before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 4px;
  vertical-align: middle;
}

.checkbox:checked + .checkbox-label:before {
  border: none;
  background-color: #2196f3;
  background-image: url("../../img/modal/check.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link {
  color: #2196f3;
  border-bottom: 1px solid #2196f3;
}

.modal-button {
  display: block;
  margin: 0 auto;
  padding-left: 56px;
  padding-right: 55px;
}
/*# sourceMappingURL=main.css.map */