.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features-icon-box {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;

  text-align: center;

  background-color: $additional-bg-color;
}

.features-icon {
  margin: 0 auto;
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: start;
  }

  color: $additional-text-color;
}

.feaures-text {
  margin-top: 0;
  margin-bottom: 0;
}
